---
- name: Install Jenkins on RHEL/Amazon Linux
  hosts: all
  become: yes

  tasks:

    - name: Update all packages
      yum:
        name: "*"
        state: latest

    - name: Download Jenkins repo file
      get_url:
        url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
        dest: /etc/yum.repos.d/jenkins.repo
        mode: '0644'

    - name: Import Jenkins GPG key
      rpm_key:
        state: present
        key: https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key

    - name: Upgrade packages after adding repo
      yum:
        name: "*"
        state: latest

    - name: Install Amazon Corretto Java 21
      yum:
        name: java-21-amazon-corretto
        state: present

    - name: Install Jenkins
      yum:
        name: jenkins
        state: present

    - name: Enable Jenkins service
      systemd:
        name: jenkins
        enabled: yes

    - name: Start Jenkins service
      systemd:
        name: jenkins
        state: started
